.homeBanner {
  background-image: url(./shared/img/plane.jpg);
  /* min-height: 624px; */
  height: 100%;
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}